header {
    background-color: #4ab7ee;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #53c7d4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    text-align: center;
}

.profile img {
    width: 250px;
    height: 300px;
    border-radius: 65%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(103, 192, 219, 0.7);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.profile h2 {
    font-size: 30px;
    color: #333;
}

.profile h4 {
    font-size: 20px;
    color: #555;
}

.about {
    margin-top: 40px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    background-color: #ffffff00;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(103, 192, 219, 0.5);
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.grid-item:hover {
    box-shadow: 0 0 20px rgba(103, 192, 219, 0.7);
}

.grid-item p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.contact {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}

.contact h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.contact p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 10px;
}

.message-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.send-button {
    background-color: #56dbf9;
    border: none;
    color: #ededed;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(103, 192, 219, 0.5);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.send-button:hover {
    background-color: #53c7d4;
}
</style>
<script>
function sendMessage() {
    var message = document.getElementById("messageInput").value;
    alert("Pesan terkirim: " + message);
}
</script>



